body {
    margin: 0 !important
}

div.app {
    height: 90vh;
    width: 100vw;

    margin-top: 4vh;
}

.hflex {
    display: flex;
    flex-direction: row;
}

.vflex {
    display: flex;
    flex-direction: column;
}

#main {
    flex-grow: 5;
}

#images-preview {
    flex-grow: 1;
}

.field-image {
    border: 1px solid;
    margin: auto;
}

div.sidebar-left {
    flex-grow: 1;
    max-width: 22em;
}

div.main-spacer {
    width: 10px;
}

div.map {
    flex-grow: 5
}

fieldset {
    margin: 10px;
}
