body {
    margin: 0 !important
}

div.app {
    height: 90vh;
    width: 100vw;
    margin-top: 4vh;
}

.hflex {
    display: flex;
    flex-direction: row;
}

.vflex {
    display: flex;
    flex-direction: column;
}

#main {
    flex-grow: 5;
    height: 100%;
}

#images-preview {
    width: 350px;
    padding: 0px 32px 0px 16px;
}

.field-image {
    /* border: 1px solid; */
    margin: auto;
}

div.sidebar-left {
    flex-grow: 1;
    max-width: 22em;
}

div.map {
    flex-grow: 5
}

fieldset {
    margin: 10px;
}

.remove-button {
    background-color: #773030;
}

.inline-form input {
    display: inline !important;
}
